.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

.page-wrpr {
  max-width: 500px;
  margin: 0 auto;
}

.form-section {
  border: 1px solid #c1c1c1;
  border-radius: 20px;
  padding: 20px;
}

.form-section h2 {
  margin-top: 0;
}

.form-section input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #012e3a;
  margin-bottom: 10px;
}

.form-section button {
  color: #012e3a;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #012e3a;
  border-radius: 6px;
  cursor: pointer;
}

.userlist {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding-left: 0;
}

.userlist li {
  border: 1px solid #012e3a;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
}
